.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 5vw;
    background: black;
}

.LicensePlate {
    background: black;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}